<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DarkStatsCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/lib/chartist/dist/chartist.min.css">
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.min.css">
</head>
<body>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({html: true}); 
    });
    </script>
		
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
					<span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">DarkStatsCore</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
					<li><a asp-page="/Index">Live Dashboard</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navBarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            View...
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navBarDropdown">
                            <li><a class="dropdown-item" asp-page="/ViewDay">Day</a></li>
                            <li><a class="dropdown-item" asp-page="/ViewMonth" asp-route-month=@(DateTime.Now.Month) asp-route-year=@(DateTime.Now.Year)>This Month</a></li>
                            <li><a class="dropdown-item" asp-page="/PreviousMonths">Previous Months</a></li>
                            <li><a class="dropdown-item" asp-page="/ViewMonth" asp-route-alltime="true">All Time</a></li>
                        </ul>
                    </li>
                    <li><a asp-page="/Settings">Settings</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
		<p></p>
        @RenderBody()
        <hr />
        <footer>
            <h6><a href="https://github.com/tylerrichey/darkstatscore">DarkStatsCore</a> - @SettingsLib.VersionInformation</h6>
        </footer>
    </div>
</body>
</html>
